name: Jekyll site CI

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"
- name: Automatic Releases
  uses: marvinpinto/action-automatic-releases@v1.2.1
- name: Compress
  uses: TonyBogdanov/zip@1.0
  with:
      args: zip -qq -r ./archive.zip ./target- name: Decompress
  uses: TonyBogdanov/zip@1.0
  with:
      args: unzip -qq ./archive.zip -d ./target
